/*
    CSS Modules create unique class names for each component, so you don't have to worry about style collisions.
*/

.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
